

.card img{
    width: 100%;
    height: 200px;
}
.fa-share{
    cursor: pointer;
}

.modal-dialog{
    animation: tops 1s ease-in-out forwards;
}

@keyframes tops{
    0%{
        top: 0;
    }
    100%{
        top: 50%;
    }
}

.sharing-button .fa{
    box-shadow: 0 0 1px 1px #CCC;
}

/* a{
    text-decoration: none;
} */